
// Custom variables
@import 'sass/base/variables';


@import '~bootstrap/scss/bootstrap';


// Custom global styles
@import 'sass/base/global'; 



// Components
@import 'sass/components/button';
//@import "sass/components/featured-product";
//@import 'sass/components/cards';
//@import 'sass/components/form';

@import 'sass/base/typography';
@import 'sass/layout/header';
@import 'sass/layout/footer';


 .container-fluid {
    max-width: 1450px; // Center the content
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  } 

   .product-detail-container {
    padding: 20px 0;
  
    .product-gallery {
      .main-image-container {
        border: 1px solid #e8e8e8;
        padding: 10px;
        
        .main-image {
          width: 100%;
          height: auto;
        }
      }
  
      .thumbnail-container {
        .img-thumbnail {
          cursor: pointer;
          transition: border-color 0.2s ease-in-out;
  
          &:hover {
            border-color: #eb8d8d;
          }
        }
      }
    }
  
  } 

  // Add these styles for the dropdown
  .nav-item.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
  }
  // Add these styles to your main.scss file

  .floating-cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; // Adjust as needed
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  
    &.show {
      transform: translateX(0);
    }
  }
  

@import 'sass/main.scss';


